.table-container {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.pagination-buttons button {
  margin-right: 1rem;
  border: none;
  padding: 0.5rem;
  min-width: 6rem;
  background-color: darkgray;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.table-header {
  margin-bottom: 2rem;
}

.pagination-buttons__number {
  align-self: center;
  justify-self: center;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.table-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 14rem;
  width: 100%;
}